@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Black+Ops+One&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Iso&family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f3f0f7;
}





.gradient {
    background: linear-gradient(to bottom, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    width: calc(375px / 2);
    height: 550px;
    border-radius: 0 0 200px;
}


.screen-container {
    width: 250px;
    height: 530px;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 7%;
    left: 17%;
    box-shadow: 2px 2px 10px 0px #7d7d7d24;
    padding: .7em;
}




.screen {
    background-color: #f3f0f7;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: auto;
}
.screen .top {
    background: linear-gradient(to right,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    width: 100%;
    height: 80px;
    border-radius: 20px 20px 5px 5px;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em .5em 0;
}

.screen .top::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 20px;
    left: 25%;
    top: 0;
    background-color: #fff;
    border-radius: 0 0 15px 15px;

}


.top .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .left i {
    color: #fff;
}

.top .left .profile-info {
    display: flex;
    padding-left: .5em;
}
.top .left .profile-info .pic img {
    max-width: 35px;
    border-radius: 50%;
}


.top .left .profile-info .name {
    padding-left: .5em;
}
.top .left .profile-info .name h2 {
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}
.top .left .profile-info .name span {
    color: #f3f0f7;
    font-size: .6rem;
    opacity: 80%;
} 


.top .right i {
    color: #f3f0f7;
    font-size: .8rem;
}














.screen .bottom .left p {
    background-color: #f2c9f4b9;
    margin: 1em 0 1em 1em;
    width: 65%;
    font-size: .6rem;
    padding: 1em;
    border-radius: 10px 10px 10px 0;

}





.bottom .right {
    position: absolute;
    right: 1em;
}


.bottom .right .dog-pic {
    margin-top: .5em;
    text-align: end;
}
.bottom .right .dog-pic img {
    max-width: 40px;
    border-radius: 10px;
}
.bottom .right p {
    background-color: #fff;
    margin: 1em 0 1em 0;
    font-size: .6rem;
    padding: 1em;
    border-radius: 10px 10px 0 10px ;
}



.last-msg {
    position: absolute;
    bottom: 8em;
    width: 100%;
    font-size: .6rem;
    border-radius: 10px 10px 10px 0;
}





.what {
    background: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    width: 65%;
    padding: 1em;
    margin-left: 1em;
    border-radius: 10px 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


.what .circle {
    width: 10px;
    height: 10px;
    margin-right: 1em;
    border-radius: 50%;

    outline: 1px solid #fff;

}

.what .text {
    flex: 1;
    font-weight: 500;
    font-size: .55rem;
}
.what .price {
    font-weight: 500;
    font-size: .8rem;
}




.message-input {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 85%;
    height: 40px;
    left: 7.5%;
    bottom: 1em;
    padding: 0.6em 1em;
    border-radius: 20px;

}

.message-input .placeholder P {
    font-size: .7rem;
    opacity: 70%;
}

.message-input .send {
    background-color: hsl(271, 36%, 24%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 5px;
    
}
.message-input .send i {
    padding: .5em;
    color: #fff;
}






.text-content {
    margin-top: 7.5em;
    text-align: center;
}

.text-content h1 {
    color: #3e2952;
    margin-bottom: .5em;
}
.text-content p {
    color: #c0bfc3;
    line-height: 1.5em;
}







@media (min-width: 900px) {
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .text-content {
        place-self: center;
    }
    .gradient {
        width: 350px;
        height: 600px;
        border-radius: 0 0 140px 140px;
    }
    .screen-container {
        position: absolute;
        top: 15%;
        left: 20%;
    }
    
    .second-gradient {
        display: none;
    }
    
}

@media (min-width: 1024px) {
    .second-gradient {
        background-color: #f3d4f543;
        width: 350px;
        height: 500px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 140px 70px 0 0;
        z-index: -1;
    }
    .second-gradient {
        display: block;
    }
    
}

@media (min-width: 1700px) {
    .second-gradient {
        width: 350px;
        height: 700px;
    }
    .gradient {
        width: 400px;
        height: 620px;
        border-radius: 0 0 190px 190px;
    }
    .text-content {
        margin-right: auto;
    }
    .text-content p {
        line-height: 1.8em;
    }
    


    .text-content {
        margin-top: 7.5em;
        text-align: start;
    }
    
}